body {
    background-image: url("https://picsum.photos/id/135/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size:cover;
}

#header, .nav > a, #hero, #cta, div div {
    color:white
}

#header {
    background-color:#2e2836;
    height:60px;
}

a {
    text-decoration:none; 
}

a:hover {
    text-decoration:underline;
}

#hero {
    font-size: 22px;
}

#hero > h1 {
    font-size:80px;
}

#cta {
    background-color: #dbe917;
    color:black
}

#cta:hover {
    background-color:black;
    color:#dbe917;
}

#services {
    background-color:#dac7f3;
}

.card {
    background-color:white;
   width:fit-content;
   color: #2e2836;
}

/** Hex codes: F5FCF3 (light background), F92A82 (accent), 2E2836 (dark background) **/