body {
    background-image: url("https://picsum.photos/id/135/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size:cover;
    margin:0px 0px 0px 0px;
}

#header, .nav > a, #hero, #cta, div div {
    color:white
}

#header {
    background-color:#2e2836;
    height:60px;
    padding:10px;
}

.logo {
    float:left;
}

.nav {
    float:right;
    padding:10px;
}

a {
    text-decoration:none; 
}

a:hover {
    text-decoration:underline;
}

#hero {
    font-size: 22px;
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
    margin-bottom:10%;
}

#hero > h1 {
    font-size:80px;
}

#cta {
    background-color: #dbe917;
    color:black;
    float:right;
}

#cta:hover {
    background-color:black;
    color:#dbe917;
}

.button {
    display:block;
    width:fit-content;
    padding:20px 10px 20px 10px;
    border-width:3px;
    border-style:groove;
    border-radius:15px;
}

#services {
    background-color:#dac7f3;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 15vh 60px 15vh 60px;
}

#testimonials {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 15vh 60px 15vh 60px;
}

.quote::before, .quote::after {
    content:"\"";
    font-size:30px;
    font-weight:bolder;
}

.attribution::before {
    content:"-";
}

.card {
    background-color:white;
   width:15%;
   color: #2e2836;
   padding:10px 20px 10px 20px;
   display:flex;
   flex-direction:column;
   justify-content: space-around;
   align-items:center;
   border-radius:15px;
   box-shadow: 3px 5px 20px #194161;
}

/** Hex codes: F5FCF3 (light background), F92A82 (accent), 2E2836 (dark background) **/